[Unit]
Requires = zebra.service
After = network.target

[Service]
ExecStartPre=mkdir /var/run/quagga
ExecStartPre=chown -R quagga:quagga /var/run/quagga/
ExecStart = /usr/lib/quagga/ospfd

[Install]
WantedBy = default.target
