[Unit]
After = network.target

[Service]
ExecStartPre=mkdir -p /var/run/quagga
ExecStartPre=chown -R quagga:quagga /var/run/quagga/
ExecStart = /usr/lib/quagga/zebra

[Install]
WantedBy = default.target
