[Unit]
After = network.target

[Service]
ExecStartPre=-/usr/bin/mkdir /var/run/quagga
ExecStartPre=/usr/bin/chown -R quagga:quagga /var/run/quagga/
ExecStart = /usr/lib/quagga/zebra

[Install]
WantedBy = default.target
