[Unit]
Requires = zebra.service
After = network.target

[Service]
ExecStartPre = /bin/mkdir -p /var/run/quagga
ExecStartPre = /bin/chown -R quagga:quagga /var/run/quagga/
ExecStart = /usr/sbin/ospf6d

[Install]
WantedBy = default.target
